[build]
  command = "npm run build"
  publish = "dist"

[[redirects]]
  from = "/api/external/repair-status/*"
  to = "/.netlify/functions/repair-status"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
